<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="destroxwhey.de.socialalarm" >

    <application
        android:name="destroxwhey.de.socialalarm.SocialAlarm"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="destroxwhey.de.socialalarm.OverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="destroxwhey.de.socialalarm.Activity_Alarm"
            android:label="@string/title_activity_activity__alarm"
            android:parentActivityName="destroxwhey.de.socialalarm.OverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="destroxwhey.de.socialalarm.OverviewActivity" />
        </activity>

        <receiver android:name="destroxwhey.de.socialalarm.NotifyService" />

        <activity
            android:name="destroxwhey.de.socialalarm.Activity_Alert"
            android:label="@string/title_activity_activity__alert" >
        </activity>
    </application>

</manifest>
